.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo {
  font-family: Arial, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #ebe6e6;
  text-align: center;
  padding-bottom: 1.2rem;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.sub-container {
  display: flex;
  padding-top: 0;
  margin-top: 0;
}

.container-mapa {
  background-color: white;
  border-radius: 3rem;

  margin-left: 4rem;
}

.leaflet-container {
  height: 600px;
  width: 800px;
  border-radius: 3rem;

  margin-left: 4rem;
}

/* Estilo da tabela */
.custom-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 1.4rem;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.custom-table th,
.custom-table td {
  width: 30rem;
  padding: 1.5rem;
  text-align: center;
  color: #333;
  font-weight: bold;
  /*border: 4px solid #ddd;*/
  font-size: 2.1rem;
  border-bottom: 0.3rem solid #ddd;
  border-right: 0.3rem solid #ddd;
}

.custom-table td {
  background-color: #ffffff;
}

.custom-table th {
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.custom-table th:last-child,
.custom-table td:last-child {
  border-right: none;
}

.custom-table thead th {
  background-color: #ddd;
  color: #333;
  font-weight: bold;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
  color: black;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

@media (max-width: 1250px) {
  .leaflet-container {
    height: 500px;
    width: 600px;
    border-radius: 3rem;

    margin-left: 4rem;
  }

  .titulo {
    font-size: 5rem;
  }

  .custom-table th,
  .custom-table td {
    width: 20rem;
    padding: 1rem;

    font-size: 1.8rem;
    border-bottom: 0.3rem solid #ddd;
    border-right: 0.3rem solid #ddd;
  }
}

@media (max-width: 900px) {
  .sub-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .container-mapa,
  .leaflet-container {
    margin: 0;
  }

  .titulo {
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .leaflet-container {
    height: 400px;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .leaflet-container {
    height: 400px;
    width: 350px;
  }

  .titulo {
    font-size: 3rem;
  }

  .custom-table th,
  .custom-table td {
    width: 15rem;
    font-size: 1.4rem;
  }
}
