.container {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-family: Arial, sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: #ebe6e6;
    text-align: center;     
    padding-bottom: 1.2rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.sub-container {
    display: flex;
    padding-top: 0;
    margin-top: 0;
}

.container-mapa {
    background-color: white;
    border-radius: 3rem;
    padding-top: 28rem;
    padding-left: 52rem;
    padding-right: 52rem;
    padding-bottom: 28rem;
    margin-left: 4rem;
    margin-bottom: 13rem;
}

.mapa {
    font-family: Arial, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Estilo da tabela */
.custom-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 1.4rem;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.custom-table th,
.custom-table td {
    width: 30rem;
    padding: 1.5rem;
    text-align: center;
    color: #333;
    font-weight: bold;
    /*border: 4px solid #ddd;*/
    font-size: 2rem;
    border-bottom: 0.3rem solid #ddd;
    border-right: 0.3rem solid #ddd;
}

.custom-table td {
    background-color: #ffffff;
}

.custom-table th{
    font-size: 2.5rem;
}

.custom-table th:last-child,
.custom-table td:last-child {
    border-right: none;
}

.custom-table thead th {
    background-color: #ddd;
    color: #333;
    font-weight: bold;
    
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

